.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    height: 80%;
    background: white;
    box-shadow: 0px 0px 72px -10px rgb(0 0 0 / 44%);
    border-radius: 20px;
}

.form {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    
}
.form form{
    display: flex;
flex-direction: column;   
justify-items: center;
align-items: center;
width: 100%; 
}
.change{
    width: 50%;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    flex-direction: column;
    background: #8702c5d8;
    color: white;
    border-radius: 0 20px 20px 0;


}

.input{
    width: 50%;
    margin: 1rem 0 !important; 
}

.secondary-btn,
.primary-btn{
    padding: 0.7rem 2.3rem;
    border-radius: 14px;
    margin-top: 2rem;
    cursor: pointer;
    font-size: 1.2rem;
    background-color: transparent;

}
.secondary-btn{
    border: 1px solid white;
}
.secondary-btn:hover,
.secondary-btn:active{
    background: white;
    color: #8702c5d8;
    font-weight: bold;

}


.primary-btn{
    border: 1px solid #8702c5d8;
}
.primary-btn:hover,
.primary-btn:active{
    background: #8702c5d8;
    color: white;
    font-weight: bold;

}

.hr{
    width: 70%;
    margin-top: 2rem;
    border-color: rgb(255, 255, 255);
}

.contact-container{
    display: flex;
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 1px solid rgb(199, 197, 197);
   color: mediumturquoise;
   width: 50%;
   justify-content: center;
}

.contact{
    width: 40px;
    height: 40px;
    margin: 0 0.5rem;
    border-radius: 50%;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}
.contact:hover{
    transform: scale(1.2);
    
}

.title, .msg-error{
    color: purple;
    margin: 0;
    margin: 1rem 0
}


.lock{
    padding: 1rem;
    border-radius: 50%;
    background: purple;
    
    
}