

.layout{
    background-color: #000;
}

.main{
    margin-top: 7rem;
    color: white;
    display: flex;
    padding: 0 2rem;
}

.category{
    width: 15%;

}

.products-container{
    width: 85%;
    display: flex;
    
    flex-wrap: wrap;

}

.relevance{
    width: 15%;


    

}

